In [9]:
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data1 as (
    sel 
    rcvr_id,
    pmt_start_date,
    sndr_country,
    count(*) as coun_num
    from PP_OAP_SING_ZHEWEI_T.wz_country_data1
    where trans_id > 0 
    group by 1,2,3
)with data primary index(rcvr_id);
------------------------------------------------------------------------------------------
call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_cou_rate_temp');
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_temp as (
    sel
    rcvr_id,
    pmt_start_date,
    sum(coun_num) as daily_tot_num
    from PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data1
    group by 1, 2
)with data primary index(rcvr_id);
------------------------------------------------------------------------------------------
call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data2');
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data2 as (
    sel t1.rcvr_id,
    t1.pmt_start_date,
    t1.sndr_country,
    t1.coun_num * 1.0000000 / t2.daily_tot_num as coun_rate
    from PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data1 t1
    left join PP_OAP_SING_ZHEWEI_T.wz_cou_rate_temp t2
    on t1.rcvr_id = t2.rcvr_id and t1.pmt_start_date = t2.pmt_start_date
)with data primary index(rcvr_id);

HTML(value='')

[]

In [13]:
--sel top 100 * from PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data1 where rcvr_id = '1932592284603123791' and pmt_start_date = '2018-04-14'
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data3 as (
    sel 
    rcvr_id,
    pmt_start_date,
    sndr_country,
    count(*) as coun_num
    from PP_OAP_SING_ZHEWEI_T.wz_case2_march_1
    where trans_id > 0 
    group by 1,2,3
)with data primary index(rcvr_id);
------------------------------------------------------------------------------------------
call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_cou_rate_temp');
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_temp as (
    sel
    rcvr_id,
    pmt_start_date,
    sum(coun_num) as daily_tot_num
    from PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data3
    group by 1, 2
)with data primary index(rcvr_id);
------------------------------------------------------------------------------------------
call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data2');
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data4 as (
    sel t1.rcvr_id,
    t1.pmt_start_date,
    t1.sndr_country,
    t1.coun_num * 1.0000000 / t2.daily_tot_num as coun_rate
    from PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data3 t1
    left join PP_OAP_SING_ZHEWEI_T.wz_cou_rate_temp t2
    on t1.rcvr_id = t2.rcvr_id and t1.pmt_start_date = t2.pmt_start_date
)with data primary index(rcvr_id);

--call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_case2_merged_table');
create table PP_OAP_SING_ZHEWEI_T.wz_cou_merged_data as
(SELECT * FROM PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data2
UNION
SELECT * FROM PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data4)
with data primary index(rcvr_id);

HTML(value='')

[]

In [9]:
create table PP_OAP_SING_ZHEWEI_T.wz_cou_rate_data5 as (
    sel 
    a.rcvr_id,
    a.pmt_start_date,
    coalesce(a.sndr_country, b.sndr_country) as full_coun,
    --a.sndr_country, --as his_coun,
    a.coun_rate,
    b.sndr_country as his_country,
    --b.coun_rate as his_rate
    --b.pmt_start_date as his_date
    avg(b.coun_rate) as his_rate
    from PP_OAP_SING_ZHEWEI_T.wz_cou_merged_data a
    full outer join PP_OAP_SING_ZHEWEI_T.wz_cou_merged_data b
    on a.rcvr_id = b.rcvr_id 
    where a.pmt_start_date between '2018-04-01' and '2018-04-03'
and b.pmt_start_date between a.pmt_start_date-30 and a.pmt_start_date-1
group by 1,2,3, 4, 5
)with data primary index(rcvr_id, pmt_start_date);

HTML(value='')

DatabaseError: (3156, '[HY000] [Teradata][ODBC Teradata Driver][Teradata Database] Request aborted by TDWM. Exception criteria exceeded:   AMP I/O Skew. ')

DatabaseError: (3156, '[HY000] [Teradata][ODBC Teradata Driver][Teradata Database] Request aborted by TDWM. Exception criteria exceeded:   AMP I/O Skew. ')

In [12]:
--call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_cou_merged_filtered_data');
create table PP_OAP_SING_ZHEWEI_T.wz_cou_merged_filtered_data AS(
select t1.rcvr_id,
    t1.pmt_start_date,
    t1.sndr_country,
    t1.coun_rate
    from PP_OAP_SING_ZHEWEI_T.wz_cou_merged_data t1
    left join PP_OAP_SING_ZHEWEI_T.template t2
    on t1.rcvr_id = t2.rcvr_id
    left join PP_OAP_SING_ZHEWEI_T.template1 t3
    on t1.rcvr_id = t3.rcvr_id
    where t3.rcvr_id is Null and 
        t2.rcvr_id is Null
)with data primary index(rcvr_id);

HTML(value='')

[<teradata.util.Row at 0x7fadf756fb00>,
 <teradata.util.Row at 0x7fadf756f518>,
 <teradata.util.Row at 0x7fadf756fba8>,
 <teradata.util.Row at 0x7fadf756fc50>,
 <teradata.util.Row at 0x7fadf756fcf8>,
 <teradata.util.Row at 0x7fadf756fda0>,
 <teradata.util.Row at 0x7fadf756fe48>,
 <teradata.util.Row at 0x7fadf756fef0>,
 <teradata.util.Row at 0x7fadf756ff98>,
 <teradata.util.Row at 0x7fadf76d4080>,
 <teradata.util.Row at 0x7fadf76d4128>,
 <teradata.util.Row at 0x7fadf76d41d0>,
 <teradata.util.Row at 0x7fadf76d4278>,
 <teradata.util.Row at 0x7fadf76d4320>,
 <teradata.util.Row at 0x7fadf76d43c8>,
 <teradata.util.Row at 0x7fadf76d4470>,
 <teradata.util.Row at 0x7fadf76d4518>,
 <teradata.util.Row at 0x7fadf76d45c0>,
 <teradata.util.Row at 0x7fadf76d4668>,
 <teradata.util.Row at 0x7fadf76d4710>,
 <teradata.util.Row at 0x7fadf76d47b8>,
 <teradata.util.Row at 0x7fadf76d4860>,
 <teradata.util.Row at 0x7fadf76d4908>,
 <teradata.util.Row at 0x7fadf76d49b0>,
 <teradata.util.Row at 0x7fadf76d4a58>,
 <teradata.util.Row at 0x7fadf76d4b00>,
 <teradata.util.Row at 0x7fadf76d4ba8>,
 <teradata.util.Row at 0x7fadf76d4c50>,
 <teradata.util.Row at 0x7fadf76d4cf8>,
 <teradata.util.Row at 0x7fadf76d4da0>,
 <teradata.util.Row at 0x7fadf76d4e48>,
 <teradata.util.Row at 0x7fadf76d4ef0>,
 <teradata.util.Row at 0x7fadf76d4f98>,
 <teradata.util.Row at 0x7fadf76e4080>,
 <teradata.util.Row at 0x7fadf76e4128>,
 <teradata.util.Row at 0x7fadf76e41d0>,
 <teradata.util.Row at 0x7fadf76e4278>,
 <teradata.util.Row at 0x7fadf76e4320>,
 <teradata.util.Row at 0x7fadf76e43c8>,
 <teradata.util.Row at 0x7fadf76e4470>,
 <teradata.util.Row at 0x7fadf76e4518>,
 <teradata.util.Row at 0x7fadf76e45c0>,
 <teradata.util.Row at 0x7fadf76e4668>,
 <teradata.util.Row at 0x7fadf76e4710>,
 <teradata.util.Row at 0x7fadf76e47b8>,
 <teradata.util.Row at 0x7fadf76e4860>,
 <teradata.util.Row at 0x7fadf76e4908>,
 <teradata.util.Row at 0x7fadf76e49b0>,
 <teradata.util.Row at 0x7fadf76e4a58>,
 <teradata.util.Row at 0x7fadf76e4b00>,
 <teradata.util.Row at 0x7fadf76e4ba8>,
 <teradata.util.Row at 0x7fadf76e4c50>,
 <teradata.util.Row at 0x7fadf76e4cf8>,
 <teradata.util.Row at 0x7fadf76e4da0>,
 <teradata.util.Row at 0x7fadf76e4e48>,
 <teradata.util.Row at 0x7fadf76e4ef0>,
 <teradata.util.Row at 0x7fadf76e4f98>,
 <teradata.util.Row at 0x7fadf76cf080>,
 <teradata.util.Row at 0x7fadf76cf128>,
 <teradata.util.Row at 0x7fadf76cf1d0>,
 <teradata.util.Row at 0x7fadf76cf278>,
 <teradata.util.Row at 0x7fadf76cf320>,
 <teradata.util.Row at 0x7fadf76cf3c8>,
 <teradata.util.Row at 0x7fadf76cf470>,
 <teradata.util.Row at 0x7fadf76cf518>,
 <teradata.util.Row at 0x7fadf76cf5c0>,
 <teradata.util.Row at 0x7fadf76cf668>,
 <teradata.util.Row at 0x7fadf76cf710>,
 <teradata.util.Row at 0x7fadf76cf7b8>,
 <teradata.util.Row at 0x7fadf76cf860>]

In [16]:
call pp_monitor.drop_table('PP_OAP_SING_ZHEWEI_T.wz_LM_data');
create table PP_OAP_SING_ZHEWEI_T.wz_LM_data AS(
select t1.rcvr_id,
    t1.pmt_start_date,
    t1.sndr_country,
    t1.coun_rate
    from PP_OAP_SING_ZHEWEI_T.wz_cou_merged_filtered_data t1
    right join PP_OAP_SING_ZHEWEI_T.wz_LM t2
    on t1.rcvr_id = t2.rcvr_id
)with data primary index(rcvr_id);

HTML(value='')

HTML(value='')

TabView(children=(VerticalBox(children=(QGridCustomWidget(grid_options={'highlightSelectedCell': True, 'filter…